*files/*.zip
*.retry
hosts
hosts.cnav
hosts.aws
hosts.next
hosts.vm
hosts.hdp
hosts.exec
hosts.loc
hosts.save
hosts.grpmut
hosts.debian
hosts.template
hosts.one
hosts.mapr
.vscode/
indexima-deploy-licenses.yaml
roles/indexima-standalone/files/indexima.lic
roles/indexima-standalone/files/indexima.io.keystore
#roles/indexima-standalone/files/*.jar
